*{
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.contenedor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.icono{
    position: relative;
    padding: 20px;
    border-radius: 45px  45px / 45px 45px;
    background-color: white;
    box-shadow: 0 0 15px grey;
    display: flex;
    justify-content: center;
    transition: padding 0.6s ease;
}

.icono i{
    display: inline-block;
}

.icono .texto{
    display: none;
    position: absolute;
    top: 25%;
    left: auto;

    font-size: 30px;
    font-weight: 700;
}
 
.icono:hover{
    padding: 35px 100px;
}

.icono:nth-child(1):hover{
    background: linear-gradient(30deg, white, purple);
}

.icono:nth-child(2):hover{
    background: linear-gradient(30deg, white, aqua);
}

.icono:nth-child(3):hover{
    background: linear-gradient(30deg, white, orangered);
}

.icono:nth-child(4):hover{
    background: linear-gradient(30deg, white, greenyellow);
}

.icono:nth-child(5):hover{
    background: linear-gradient(30deg, white, palevioletred);
}



.icono:nth-child(1):hover i{
    display: none;
    
}

.icono:nth-child(2):hover i{
    display: none;
}

.icono:nth-child(3):hover i{
    display: none;
}

.icono:nth-child(4):hover i{
    display: none;
}

.icono:nth-child(5):hover i{
    display: none;
}


.icono:nth-child(1):hover .texto{
    display: block;
}

.icono:nth-child(2):hover .texto{
    display: block;
}

.icono:nth-child(3):hover .texto{
    display: block;
}

.icono:nth-child(4):hover .texto{
    display: block;
}

.icono:nth-child(5):hover .texto{
    display: block;
}


.icono:not(:hover){
    animation: ico 0.5s  1;
}

.icono:hover .texto{
    animation: tex 0.8s 1;
}

@keyframes tex {
    0%{
        transform: scale(0.1);
    }

    100%{
        transform: scale(1);
    }
    
}

@keyframes ico {
    0%{
        transform: scale(0.7);
    }

    100%{
        transform: scale(1);
    }
    
}